/*
* purple.css
* The stylesheet for the purple style.
*
* Table of Contents
* I. Header
* II. Menus
*   A. Top Menu
*   B. Main Menu
*   C. Mobile Menu
* III. Slideshow
* IV. Home Posts
* V. Single Posts
* VI. Index
* VII. Page
* VIII. Sidebar
* IX. Footer
*/
/*
I. Header---------------- */
.header-area {
     background-color: #260029;
}
/*
II. Menus---------------- */
/*
A. Top Menu---------------- */
.top-menu ul ul a {
     background: #4A1D4E;
}
.top-menu li:hover > a,
.top-menu a:focus {
     background: #4A1D4E;
}
/*
B. Main Menu---------------- */
.main-menu {
     background: #4A1D4E;
}
/*
C. Mobile Menu---------------- */
.mobile-nav-bar {
    background-color: #4A1D4E;
}
.mobile-nav {
    background-color: #4A1D4E;
}
.mobile-nav-left ul ul a {
    background: #4A1D4E;
}
.mobile-nav-left li:hover > a,
.mobile-nav-left li:hover,
.mobile-nav-left a:focus {
    background: #4A1D4E;
}
.mobile-nav-right {
    background-color: #4A1D4E;
}
.mobile-nav-right li:hover > a,
.mobile-nav-right li:hover,
.mobile-nav-right ul ul li:hover > a,
.mobile-nav-right a:focus {
    background: #4A1D4E;
}
/*
III. Slideshow---------------- */
.slideshow{
    background-color: #260029;
}
.slide{
     border: 1px solid #260029 !important;
}
.slide-photo{
	border-right: 5px solid #260029;
    border-left: 1px solid #260029;
    border-bottom: 1px solid #260029;
    background-color: #4A1D4E;
}
.slide-panel{
     background: #FFFFFF;
     border-left: 5px solid #260029;
     border-right: 1px solid #260029;
     border-bottom: 1px solid #260029;
}
h3.slide-panel-title, h3.slide-panel-title a, h3.slide-panel-title a:link, h3.slide-panel-title a:visited, h3.slide-panel-title a:hover{
    color:#260029;
}
@media only screen and (max-width: 979px) {
	.slide-panel{
		background-color: #4A1D4E;
		opacity: .85;
	}
	.slide-panel-title, .slide-panel-title a, .slide-panel-title a:link, .slide-panel-title a:visited, .slide-panel-title a:hover{
        color: #ffffff !important;
    }
}
.slideshow-next{
    border: 1px solid #260029;
}
.slideshow-previous{
    border: 1px solid #260029;
}
/*
IV. Home Posts---------------- */
h3.section-head{
    background: #4A1D4E;
}
.home-section .comments{
    background-color: #4A1D4E;
}
.home-section h3.headline, .home-section h3.headline a, .home-section h3.headline a:link, .home-section h3.headline a:hover, .home-section h3.headline a:visited{
    color: #260029;
}
.home-section a.view-all{
    background: #4A1D4E;
}
.home-section a.view-all:hover{
     background: #bcbcbc;
     color: #4A1D4E !important;
}
.home-section .view-all a:hover{
     color: #260029 !important;
}
h3.latest-posts-title{
    background: #4A1D4E;
}
.latest-posts-photo{
    border: 1px solid #260029;
}
h5.headline, h5.headline a, h5.headline a:link, h5.headline a:visited, h5.headline a:hover{
    color: #260029;
}
.latest-posts-section .next-posts{
    background: #4A1D4E;
}
.latest-posts-section .next-posts:hover, .latest-posts-section .next-posts:hover > a{
     background: #bcbcbc;
     color: #260029 !important;
}
/*
V. Single Post---------------- */
.post-single h3.headline{
    color: #260029;
}
.post-single .row{
    background-color: #260029;
}
.post-single .row:nth-child(odd){
   background-color: #4A1D4E;
}
h3#comments{
    background: #4A1D4E;
}
#respond h3{
    background: #4A1D4E;
}
li.odd .reply,
li.odd .reply a {background-color: #4A1D4E;}
a.comment-reply-link:hover,.reply a:hover,.comment-navigation .newer a:hover,
.comment-navigation .older a:hover,input#submit:hover{background: #4A1D4E;}
.comment-navigation .older a:hover,input#submit:hover{text-decoration:none;color:#FFFFFF; background: #4A1D4E;}
input#submit:hover{background: #1D4621;}
/*
VI. Index---------------- */
.index .title{
     background-color: #4A1D4E;
}
.index .comments{
    background-color: #4A1D4E;
}
.index .headline, .index .headline a, .index .headline a:link, .index .headline a:hover, .index .headline a:visited{
    color: #260029;
}
.index .meta, .index .meta a, .index .meta a:link, .index .meta a:hover, .index .meta a:visited{
    color: #260029;
}
.index .read-more {
    background-color: #4A1D4E;
}
.index .story .read-more:hover a {
    color: #4A1D4E;
}
.index .previous-posts{
    background: #4A1D4E;
}
.index .previous-posts:hover{
    color: #260029;
}
.index .next-posts{
    background: #4A1D4E;
}
.index .next-posts:hover{
    color: #260029;
}
/*
VII. Page---------------- */
.page-single .title {
    color: #260029;
}
/*
VIII. Sidebar---------------- */
h3.widget-title{
    background-color: #4A1D4E;
}
#wp-calendar thead {background: #4A1D4E;}
#wp-calendar tbody tr:nth-child(even) {background-color: #4A1D4E;}
#wp-calendar tbody tr:nth-child(odd) {background-color: #260029;}
#wp-calendar tbody #today {background-color: #ffffff !important; color: #4A1D4E;}
#wp-calendar tbody #today a {color: #4A1D4E !important;}
#wp-calendar tbody #today:hover {background-color: #9900A4 !important;}
#wp-calendar tbody td:hover { background: #9900A4; }
#wp-calendar tfoot {background-color: #4A1D4E;}
#wp-calendar tfoot td:hover, #wp-calendar tfoot td a:hover, #wp-calendar tfoot td:hover > a {color: #4A1D4E;}
.tagcloud a {
     background-color: #4A1D4E;
     color: #ffffff;
}

.tagcloud a:hover{
     background-color: #9900A4;
}
/*
IX. Footer---------------- */
.footer{
     background: #260029;
}
/*
IX. Forms---------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button, .button {
     background-color: #4A1D4E;
     border: 1px solid #4A1D4E;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.button:hover {
     color: #4A1D4E;
}
.button:hover {
     color: #4A1D4E;
}
